.PhotosPage {
    margin-top: 26px;
    color: green;
}

.wrapper {
    display: flex;

    .wrapper_img {
        width: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .wrapper_text {
        padding: 16px;
        width: 100%;
        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 2px;
        }
    }
}