.Card {
    display: flex;
    border-radius: 5px;
    border: solid 1px #f2f2f2;
    margin: 10px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    img {
        height: 200px;
        width: 200px;
        padding: 4px;
        object-fit: cover;
        border-radius: 10px;
    }
}
.Сard__body {
    padding: 10px;
    width: 100%;
    overflow: hidden;
    p {
        font-size: 36px;
        text-align: center;
    }
}

.Card__link {
    text-align: center;
}