.wrapper_logo {
    margin-left: 15px;
    text-align: center;
    
    a {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }

    a:hover {
        text-decoration: none;
        color: #fff;
    }
}